@use "../../assets/styles/mixins" as mixin;


* {
    @include mixin.xxs {
        font-size: 12px;
    }

}

.centralContainer {
    width: 100%;
    height: 100%;
    max-height: 850px;
    max-width: 730px;

}

.top-board {
    width: 70%;
    margin: 20px 0;
    height: 10%;

    .icon-symbol,
    .turn-information,
    .clear-board {
        width: 29%;
        margin: 2%;
        font-weight: 700;
    }

    .icon-symbol {
        cursor: pointer;

        &__x {
            filter: invert(68%) sepia(36%) saturate(784%) hue-rotate(129deg) brightness(92%) contrast(86%);
        }

        &__o {
            filter: invert(73%) sepia(28%) saturate(1189%) hue-rotate(347deg) brightness(104%) contrast(90%);
        }

        &__x,
        &__o {
            img {
                width: 80%;
                height: 80%;
            }
        }
    }

    .turn-information {
        width: 29%;
        background-color: #12222b;
        color: #a8bec9;
        padding-bottom: 5px;
        border-radius: 10px;
        max-height: 50px;

        &__shadow {
            height: 100%;
            width: 100%;

            &__top-layer {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                background-color: #1f3540;
                border-radius: 10px;
                height: 100%;
                width: 100%;

                img {
                    width: 20%;
                    height: 60%;
                    filter: invert(82%) sepia(13%) saturate(372%) hue-rotate(155deg) brightness(93%) contrast(83%);
                }

            }


        }
    }

    .clear-board {
        width: 29%;
        max-height: 50px;
        background: linear-gradient(#192a32 0 60%, #6a8a97 60% 100%);
        background-color: #6a8a97;
        margin: 2%;
        padding-bottom: 5px;
        border-radius: 10px;
        transition: .3s all ease-in-out;

        button {
            background-color: #a8bec9;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            transition: .3s all ease-in-out;

        }

        &:hover {
            transition: .3s all ease-in-out;

            button {
                transform: translateY(5px);
            }
        }
    }
}

.board {
    height: 50%;
    width: 70%;
    margin-bottom: 20px;

    &-container {
        width: 100%;
        height: 100%;
    }

}

.score-board {
    height: 12%;
    width: 70%;
    margin-bottom: 20px;

    .win,
    .draw,
    .loose {
        font-weight: 700;
        width: 29%;
        margin: 2%;
        border-radius: 20px;
        padding: 2%;

        &-score {
            font-weight: 900;
        }

        &-info {
            font-weight: 500;
        }

    }

    .win {
        background-color: #31c4be;
    }

    .draw {
        background-color: #a8bec9;
    }

    .loose {
        background-color: #f2b237;
    }
}