.square {
    background-color: #0e1f29;
    border-radius: 20px;
    padding-bottom: 10px;
    margin: 15px;
    transition: .3s all ease-in-out;

    &:hover {
        padding-bottom: 0;
    }

    &.symbolO {

        .btn-square {
            background-color: #f2b237;

            span {
                color: #1f3540;
            }
        }
    }

    &.symbolX {

        .btn-square {
            background-color: #31c4be;

            span {
                color: #1f3540;
            }
        }
    }
}

.btn-square {
    cursor: pointer;
    background-color: #5d6c74;
    border-radius: 20px;

    span {
        font-size: 80px;
        font-weight: 800;
    }

    .symbolX {
        color: #31c4be;
    }

    .symbolO {
        color: #f2b237;
    }
}