:root {
  --primary: #00b894;
  --gray-1: #20232a;
  --background: #192a32;
  --red-1: #e74c3c;
  --font-family: 'Poppins', sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 /15%);
  --box-shadow-nav: rgba(0 0 0 /22%) 0px 2px 18px 0px;
  --text-color: #444;

  // 320 à 490
  --start-left-xs: -8.5em;
  --start-right-xs: 8.5em;
  // 510 à 650
  --start-left-s: -10.5em;
  --start-right-s: 10.5em;

  //670 à 840
  --start-left-m: -13.5em;
  --start-right-m: 13.5em;
  // 850 à 1024
  --start-left-l: -15.5em;
  --start-right-l: 15.5em;
}